/* Global CSS variables */
:root {
  --font-weight: 400;
  --border-radius: 0;
}

/* Typography */
h2,
h3,
hgroup> :last-child {
  font-weight: 200;
}

/* Theme button */
.theme-button {
  border-radius: 25px;
  padding: 0px;
  width: 140px;
  height: 45px;
}

/* Counter button */
.counter-button {
  border-radius: 25px;
  padding: 0px;
  width: 140px;
  height: 45px;
}

/* Counter number */
.counter-number {
  font-weight: 200;
  font-size: 96px;
  color: lightslategray;
  border-radius: 25px;
  border: 1px solid lightslategray;
  text-align: center;
}

/* Alert Toggle */
.alert-toggle {
  border-radius: 25px;
  padding: 0px;
  width: 160px;
  height: 45px;
}

/* Alert Indicator*/
.alert-indicator {
  background: red;
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;

  box-shadow: 0 0 0 0 rgb(228, 109, 109);
  transform: scale(1);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(209, 10, 27, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

article {
  padding: 50px;
  margin: 0px;
}

section {
  padding: 20px;
  margin: 0px;
}
